lineup-page {
    ion-header {
        @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
    }
    .section-title {
        font-size: 1.8rem;
        font-weight: 600;
        color: #c2c2c2;
        margin: 8px 16px 16px;
    }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 60px !important;
    }
    .position-label {
        position: absolute;
        border-radius: 4px;
        padding: 10px;
        background-color: color($colors, header-alt, base);
        border: 1px solid gray;
        -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
        box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    }
   .pitcher {
    margin: 155px 165px
}

.catcher {
    margin: 315px 165px
}

.firstbase {
    margin: 155px 285px
}

.secondbase {
    margin: 120px 240px
}

.over {
    margin: 95px 145px
}

.shortstop {
    margin: 120px 100px
}

.leftcenterfield {
    margin: 45px 70px
}

.rightcenterfield {
    margin: 45px 265px
}

.thirdbase {
    margin: 155px 25px
}

.centerfield {
    margin: 60px 122px
}

.rightfield {
    margin: 105px 310px
}

.leftfield {
    margin: 105px 25px
}

.sittingBox {
    position: absolute;
    margin: 260px 285px;
    padding: 4px;
    width: 90px;
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
    z-index: 10
}
    .lineup-content {
        background-image: url('../assets/images/field2.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height: 100%;
        .schedule-segment {
            padding: 14px 0px;
            background-color: $white;
            @include element-shadow();
            @include segment-button-styles($theme-color-2);
            .segment-button {
                @include segment-text-styles($white-d);
            }
        }
    }
}